// Start Task-1 [ ---  Form Clors  --- ]
$button-color: #14e2ad;
$bg-color: #e8e8e8;
$step-color: #a3adb9;
$font-color: #576273;
$palceholder-color: #8d8d8d;
// End Task-1 [ ---  Form Clors  --- ]

// Start Task-2 [ ---  Meals  --- ]
$meal-bg: #f7f7f7;
$meal-title: #818181;
$meal-text: #b9b9b9;
// End Task-2 [ ---  Meals  --- ]

// Start Task-3 [ ---  Meals  --- ]
$category-bg: #f9f9f9;
$category-title: #34c1e1;
$category-list: #628299;
$icon-one: #45d459;
$icon-two: #37c1de;
$icon-three: #8200fc;
$icon-four: #ffa400;
$icon-five: #36c3de;
$category-header-bg: #2d4b8b;
$category-text: #aeafb4;
$icon-bg: #eeeeee;
// End Task-3 [ ---  Meals  --- ]

// Start [ ---  Generally  --- ]
$link-color: #41b883;
$text-color: #525252;
$black: #000;
$white: #fff;
// End [ ---  Meals  --- ]
